{% extends '::base.html.twig' %}

{% block body -%}


<section id="sp-page-title"><div class="row"><div id="sp-title" class="col-sm-12 col-md-12"><div class="sp-column "><div class="sp-page-title"style="background-image: url('{{ asset('template/images/demo/blog-bg.jpg') }}')"><div class="container"><h2>federation tunisienne de football - Equipes</h2>
                        <ol class="breadcrumb">
                            <span>You are here: &#160;</span><li><a href="../../index-2.html" class="pathway">Home</a></li><li><a href="7.html" class="pathway">LIGA BBVA</a></li><li class="active">Equipes</li></ol>
                    </div></div></div></div></div></section><section id="sp-main-body"><div class="container"><div class="row"><div id="sp-component" class="col-sm-12 col-md-12"><div class="sp-column "><div id="system-message-container">
                    </div>
                    <BR>
                    <div id="spsoccer" class="spsoccer view-spsoccer-tournament">
                        <div class="spsoccer-row-fluid">
                            <div class="torunament-info">
                                <div class="tournament-header">
                                    <h2 class="soccer-title">{{ entity2.nomLigue }}</h2>
                                    <H3>Saison: {{entity3.libelle}}</h3>
                                </div>
                            </div> <!-- /.spsoccer-col-lg -->
                        </div>
                    </div>
                    <div id="akeeba-renderjoomla">

                        <div id="spsoccer" class="spsoccer view-spsoccer-tournaments spsoccer-match-landing">

                            <h3 class="text-center title"><span>Equipes</span></h3>
                            <!-- START:: fixture -->

                            <br>
                            <!-- Liste des equipe chix teriner -->

                            <section id="sp-main-body"><div class="container"><div class="row"><div id="sp-component" class="col-sm-12 col-md-12"><div class="sp-column "><div id="system-message-container">
                                                </div>
                                                <div id="akeeba-renderjoomla">

                                                    <div id="spsoccer" class="spsoccer view-spsoccer-teams">
                                                        <!-- Column -->
                                                        <div class="spsoccer-row">
                                                            <!-- START:: SP Soccer Tournaments -->
                                    {% for entity in entities %}
                                                            <div class="spsoccer-col-sm-6">
                                                                <div class="soccer-team">
                                                                    <div class="soccer-team-logo">
                                                                        <a href="{{ path('joueur', { 'equipe': entity.id }) }}">

                                                                            <img  class="spsoccer-img-thumbnail spsoccer-img-responsive soccer-team-thumb" src="{{asset('template/images/logoEquipe/')}}{{ entity.id }}.png" alt="Manchester City">
                                                                        </a>
                                                                    </div>
                                                                    <div class="team-description">
                                                                        <a href="{{ path('joueur', { 'equipe': entity.id }) }}">
                                                                            <h3>{{ entity.nomEquipe }}</h3>
                                                                        </a>


                                                                    </div>
                                                                </div>
                                                            </div>
{% endfor %}
                                                            <!-- END:: SP Soccer Tournaments -->
                                                        </div>
                                                   <!--    <a href="{#{ path('equipe_edit', { 'id': entity.id }) }#}">edit</a>   -->
                                                        <!-- /Column -->

                                                        <!-- START:: Pagination -->
                                                        <div class="soccer-pagination">
                                                        </div>
                                                        <!-- END:: Pagination -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></div>
                                </div></section>

    {% endblock %}
