{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Butmarque</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Minute</th>
                <td>{{ entity.minute }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            
            <tr>
                <th>Nom du Joueur</th>
                <td>{{ entity.idJoueur }}</td>
            </tr>
            
             <tr>
                <th>Match</th>
                <td>{{ entity.idMatch }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('butmarque') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('butmarque_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
